.hay {
    padding: 50px;
    text-align: center;
    color: #393939;
}

.list {
    text-align: center;
    padding: 30px;
}

.favorites-image {
    width: 20px; 
}

.favorites-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.favorite-artwork {
    margin: 10px;
    width: calc(33.33% - 20px);
    padding: 10px;
    box-sizing: border-box;
    text-align: center; 
}

.favorite-artwork img {
    width: 80px; 
    height: auto; 
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 360px) {
    .favorites-container {
        flex-direction: column; 
        padding: 20px;
    }

    .favorite-artwork {
        width: 100%; 
    }
}