.artwork-detail-page {
    display: flex;
    align-items: flex-start;
    padding: 100px;
}

.artwork-image {
    width: 300px; 
    height: auto;
    margin-right: 20px; 
}

.artwork-info {
    display: flex;
    flex-direction: column; 
}

.artwork-title {
    font-size: 24px;
    margin-bottom: 10px; 
}

.all-without-title {
    display: flex;
    flex-direction: column; 
}

.artist-title {
    color: orange; 
    margin-bottom: 5px;
}

.artist-lifetime {
    margin-bottom: 20px;
}

.artwork-details {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
@media only screen and (max-width: 360px) {
    .artwork-detail-page {
        flex-direction: column; 
        padding: 20px; 
    }

    .artwork-image {
        width: 100%; 
        margin-right: 0; 
    }

    .artwork-info {
        text-align: center; 
    }
}