.mainfooter {
   
    background: white;
    height: 127px;
    text-align: center;
    display: flex;
    align-items: center;
}

.footer-wrapper {
    width: 1088px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-right: 180px;
    padding-left: 180px;
}
@media only screen and (max-width: 360px) {
    .footer-wrapper {
        flex-direction: column; 
        padding: 10px; 
    }

    .mainfooter {
        height: auto; 
    }
}